@{
    ViewData["Title"] = "Task List";
}

@model List<ApplicationResponse>

<table class="table-bordered">
    <thead class="fonr-weight-bold">
        <tr>
            <td>Task</td>
            <td>DueDate</td>
            <td>Quadrant</td>
            <td>Category</td>
            <td>Completed</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Task</td>
                    <td>@x.DueDate</td>
                    <td>@x.Quadrant</td>
                    <td>@x.Category</td>
                    <td>@x.Completed</td>
                </tr>
                
            }

        </tbody>
    </table>
